<!DOCTYPE html>
<html ng-app="checkboxExample">
	<body> 

	<form name="myForm" ng-controller="ExampleController">
		  <label>Value1:
		    <input type="checkbox" ng-model="checkboxModel.value1">
		  </label><br/>
		  <label>Value2:
		    <input type="checkbox" ng-model="checkboxModel.value2"
		           ng-true-value="'YES'" ng-false-value="'NO'">
		   </label><br/>
		  <tt>value1 = {{checkboxModel.value1}}</tt><br/>
		  <tt>value2 = {{checkboxModel.value2}}</tt><br/>
	 </form>


	 <form name="myForm" ng-controller="ExampleController">
		  <label>simpleCheckbox:
		    <input type="checkbox" ng-model="simpleCheckbox">
		  </label><br/>
		  <p>simpleCheckbox.checked : {{simpleCheckbox.checked}}</p>
	 </form>


	 <script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js">
	</script>
	<script>
	  angular.module('checkboxExample', [])
	    .controller('ExampleController', ['$scope', 
	    	function($scope) {
		      $scope.checkboxModel = {
		       value1 : true,
		       value2 : 'YES'
		     };
	   		}
	   	  ]
	   );
	</script>
	
	</body>
</html>  